// Global Variables

// Breakpoint sizes
$screen-small: 556px;
$screen-medium: 557px;
$screen-large: 1080px;

// Screen sizes for fluid responsive method
$min-window: 767px;
$max_window: 1080px;

// Colors
$red: #d74139;
$black: #191818;
$pitchBlack: #000000;
$offWhite: #dfded7;
$white: #ffffff;
$sepia: #8c724e;
$green: #066234;
$transparent: rgba(0, 0, 0, 0);

// Typography
$min-rem: 16px;
$max-rem: 20px;

// Ratios for headings (applies easings throughout the breakpoints)
$min-h1: $min-rem * 3;
$max-h1: $max-rem * 5;
$min-h2: $min-rem * 2;
$max-h2: $max-rem * 3;
$min-h3: $min-rem * 1.5;
$max-h3: $max-rem * 2;